{{ define "rss" }}{{ raw "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>" }}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>display: none; Scan(s)lations</title>
		<link>https://manga.displaynone.us</link>
		<atom:link href="https://manga.displaynone.us/rss" rel="self" type="application/rss+xml" />
		<description>Manga translation by moshee &amp; co.</description>
		<pubDate>{{ .Now.Format "Mon, 02 Jan 2006 15:04:05 GMT" }}</pubDate>
		<webMaster>moshee@displaynone.us (moshee)</webMaster>
		{{ range .Releases }}
		<item>
			<title>{{ .Title }} {{ .Kind }}.{{ .Ordinal }}{{ if .NSFW }} [NSFW]{{ end }} ({{ .Filesize }})</title>
			<description>{{ raw "<![CDATA[ " }}{{ if .Notes }}{{ smarkdown .Notes }}{{ else }}{{ .Title }} {{ .Kind }}.{{ .Ordinal }}{{ end }}
        <p>(<a href="http://manga.displaynone.us/get/{{ .Id }}">link</a>)</p>{{ raw " ]]>" }}</description>
			<link>http://manga.displaynone.us/</link>
			<pubDate>{{ .DateAdded.Format "Mon, 02 Jan 2006 15:04:05 GMT" }}</pubDate>
			<category>{{ .SeriesKind.String }}</category>
			<guid isPermaLink="false">r{{ .Id }}</guid>
		</item>
		{{ end }}
	</channel>
</rss>{{ end }}
