{{ define "footer-stuff" }}
<h1>About this establishment</h1>
<section id="footer-cols">
  <div id="about">
    <p>Welcome to the <span class="wide">scan<sub>s</sub>lation division</span> of <code>display: none;</code>, an entity representing the ego of <strong>moshee</strong>, an (former) engineering student with a (former) knack for wasting time—in the form of translating Japanese comics. Established in late 2012 to begin work on manga its founders thought nobody else would pick up, its focus soon shifted in to snatching good manga before sentence fluency and image quality fell prey to the merciless claws of certain entities who shall not be named.</p>
    <p>This outfit is now out of business, as <strong>moshee</strong> has retired from the scan<sub>s</sub>lation scene due to life considerations. No new projects will be taken on in the forseeable future.</p>
  </div>
  <div id="people">
    <h2>The crew</h2>
    <ul id="crew">
      <li><h3>moshee</h3><p>Everything</p></li>
      <li style="background-position:0 -48px"><h3>franz</h3><p>Things</p></li>
      <li style="background-position:0 -96px"><h3>Sonichu</h3><p>Translation</p></li>
      <li style="background-position:0 -144px"><h3>deu</h3><p>Proof/QC</p></li>
    </ul>
    <div class="side-col-2">
      <div id="links">
        <h3>Bros</h3>
        <ul>
          <li><a href="http://www.neozeed.net">NEO ZEED</a></li>
          <li><a href="http://mixini.org">Mixini</a></li>
        </ul>
        <h3>Links</h3>
        <ul>
          <li><a href="http://manga.displaynone.us/rss">RSS</a></li>
          <li><a href="http://www.batoto.net/group/_/d/display-none-r2712">Batoto</a></li>
        </ul>
      </div>
      <div id="contact">
        <h3>Contact</h3>
        <ul>
          <li>moshee@displaynone.us</li>
          <li><a href="https://twitter.com/tehmoshee">@tehmoshee</a></li>
          <li><span style="color:#61c793"><strong>display</strong> !none/chRfU</span></li>
          <li><a href="irc://irc.rizon.net/display:none;">#display:none; @ rizon</a></li>
          <li><small>(don't forget the semicolon)</small></li>
        </ul>
      </div>
      <div id="business">
        <h2>Policy</h2>
        <ul>
          <li>Volume releases when available.</li>
          <li>Localization where possible.</li>
          <li>Honorifics stripped.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<hr>
<div id="copyright">
  <p>Site, design, and translations copyleft <span class="copyleft">©</span>2014 <code>display: none;</code>. No Rights Reserved.</p>
  <p>All other content is © their respective owners. <code>display: none;</code> does not claim ownership of any content hosted on this site.</p>
  <p><strong>If you like it, buy it!</strong></p>
</div>
{{ end }}
